<label th:fragment="field(field, showLabel)">
    <span th:if="${showLabel == null or showLabel}" th:text="${field.description}"></span>
    <input class="force-light"
           th:type="${field.type}"
           th:name="${field.name}"
           th:placeholder="${field.description}"
           th:value="${field.value}"
           th:aria-invalid="${field.isInvalid()} ? true : (${field.isValid()} ? false : null)">
    <small th:if="${field.isInvalid()}" th:text="${field.message}"></small>
</label>