<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body class="container-fluid">

<main class="login-wrapper">
    <div class="login-card">
        <div class="logo-section">
            <img th:src="@{/images/dtu_logo.png}" alt="DTU Logo" class="logo">
            <h1>FriendFinder</h1>
            <h2>Create a new user</h2>
        </div>

        <!-- Login form -->
        <form th:action="@{/users/create-user}" th:object="${user}" method="post">
            <label th:replace="~{fragments/field :: field(${name},false)}"></label>
            <label th:replace="~{fragments/field :: field(${email},false)}"></label>
            <label th:replace="~{fragments/field :: field(${password},false)}"></label>
            <div class="interest-selection">
                <h3>Select Interests</h3>
                <div class="interest-list">
                    <th:block th:each="interest : ${interests}">
                        <button type="button"
                                class="interest-btn"
                                th:text="${interest.name}"
                                th:attr="data-id=${interest.id}"
                                onclick="toggleInterest(this)">
                        </button>
                    </th:block>
                </div>
                <input type="hidden" name="selectedInterests" id="selectedInterests">
            </div>

            <button type="submit" class="login-btn">Create</button>
        </form>

        <div class="link">
            <a th:href="@{/login}" class="link secondary">Login</a>
        </div>
    </div>
</main>

</body>
</html>