<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body class="container-fluid">

<main class="login-wrapper">
    <div class="login-card">
        <div class="logo-section">
            <img th:src="@{/images/dtu_logo.png}" alt="DTU Logo" class="logo">
            <h1>FriendFinder</h1>
        </div>

        <!-- Login form -->
        <form th:action="@{/login}" th:object="${user}" method="post" class="login-box">
            <label th:replace="~{fragments/field :: field(${email}, false)}"></label>
            <label th:replace="~{fragments/field :: field(${password}, false)}"></label>

            <button type="submit" class="login-btn">Sign in</button>
        </form>

        <div class="links">
            <a th:href="@{/forgot-password}" class="link">Forgot password?</a>
            <a th:href="@{/users/create-user}" class="link secondary">Create user</a>
        </div>
    </div>
</main>

</body>
</html>